<div class="welcome-page">
    <div class="welcome-page__image-container">
        <img class="welcome-page__image-container__image" src="../../assets/logo.png" />
    </div>
    <div class="welcome-page__buttons-container">
        <button class="btn btn-outline-dark welcome-page__buttons-container__button "
            [routerLink]="['/paint']">Paint</button>
        <button class="btn btn-outline-dark welcome-page__buttons-container__button " [routerLink]="['/guide']">User
            Guide</button>
    </div>
</div>