.preview{
    display: block;
    width: 100%; 
    height: 50vh;
    margin: auto;
    border: 1px solid black;
}

.download-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

