<div class="navigation-bar">
    <div class="navigation-bar__button-box">
        <button class="btn btn-outline-dark navigation-bar__button-box__button" [routerLink]="['/homepage']">Home
            Page</button>
    </div>
    <div class="navigation-bar__button-box">
        <button class="btn btn-outline-dark navigation-bar__button-box__button" [routerLink]="['/paint']">Paint</button>
    </div>
    <div class="navigation-bar__button-box">
        <button class="btn btn-outline-dark navigation-bar__button-box__button" [routerLink]="['/guide']">User
            Guide</button>
    </div>
</div>